<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Events</h1>
      <button @click="addNewProduct()">Add new product</button>
      <form  id="usrform">
        <input type="text"  v-model="AddProducts"name="Dodaj z listy">
        <input type="submit">
     </form>
    <button @click="AddProducts2({ id: products.length, name: AddProducts })">Dodaj do listy</button>
      <ul>
        <li v-for="p in products">{{ p.name }}</li>
      </ul>
    </div>
     <script src="scripts.js"></script>
  </body>
</html>
